h1, h2, h3, h4, h5, h6, p, body {
	font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.page-header {
	margin-bottom: 0;
}

.input-group-addon a {
	cursor: pointer;
}

.section-header {
	border-bottom: 1px solid #919191;
}

.listing {
	width: 100%;
	min-height: 125px;
}

.item-listing {
	max-height: 250px;
	overflow-y: auto;
}

.featured-item {
	height: 125px;
}

.item {
	border: 1px solid #919191;
	padding: 6px;
}

.glyphicon {
	margin-right: 6px;
}

.centered {
	text-align: center;
}

.add-item {
	padding: 2px;
}

.search-result {
	width: 49%;
	min-height: 100px;
	float: left;
	margin: 4px;
}

.search-section {
	display: none;
}