body {
    padding-bottom: 40px;
}

h1 {
	font-family: 'Raleway';
}
h2, h3, h4, h5, h6, p, body {
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

.page-header {
	margin-bottom: 0;
}

.input-group-addon a {
	cursor: pointer;
}

.section-header {
	border-bottom: 1px solid #919191;
}

.listing {
	width: 100%;
	min-height: 125px;
    color: black !important;
    text-decoration: none !important;
    user-select: none;
    cursor: pointer;
}

.item-listing {
	min-height: 150px;
	max-height: 35vh;
	overflow-y: auto;
}

.featured-item {
	height: 125px;
}

.item {
	border: 1px solid #919191;
	padding: 6px;
}

.glyphicon {
	margin-right: 6px;
}

.centered {
	text-align: center;
}

.add-item {
	padding: 2px;
}

.search-result {
    color: black;
    text-decoration: none;
	min-height: 100px;
}

.search-result:hover {
    color: black;
    text-decoration: none;
}

.search-section {
	display: none;
}

.basic-info {
	min-height: 85px;
}

.item-buyers:hover {
	cursor: pointer;
	text-decoration: underline;
}

.title-link, .title-link:link {
    color: black;
    text-decoration: none;
}

img.desaturate {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}