/deploy.log
/private/*.bak
/service/app/tmp
/service/app/nbproject/private/
/service/app/Config/database.php
/service/app/Config/facebook.php
/service/app/Config/semantics3.php
/service/app/Config/openexchangerates.php
