<div class="row">
	<div id="you-section" class="col-md-6 section">
		<h3 class="section-header">YOU <small>Things you're buying.</small></h3>
		<div id="you-listing" class="item-listing">
		    
		</div>
	</div>

	<div id="friend-section" class="col-md-6 section">
		<h3 class="section-header">FRIENDS <small>Your friends want these.</small></h3>
		<div id="friend-listing" class="item-listing">
			
		</div>
	</div>
</div>

<div class="row">
	<div id="featured-section" class="col-md-6 section">
		<h3 class="section-header">FEATURED <small>Check these out!</small></h3>
		<div id="featured-listing" class="item-listing featured-item">
			
		</div>
	</div>
	
	<div id="public-section" class="col-md-6 section">
		<h3 class="section-header">PUBLIC <small>What the World wants.</small></h3>
		<div id="public-listing" class="item-listing">
			
		</div>
	</div>

</div>

<div id="modal-container"></div>