<div class="row">
	<div id="search-section" class="section col-sm-12 search-section">
		<h3 class="section-header">
			SEARCH RESULTS FOR &quot;<%= searchTerm %>&quot;
			<button class="pullright close btn btn-default" aria-hidden="true">Back</button>
		</h3>
		<h4>Requests</h4>
		<div id="request-listing" class="listing">
			<div class="item-listing">
			
			</div>
		</div>
		<h4>Products</h4>
		<div id="product-listing" class="listing">
		</div>
	</div>
</div>

<div id="modal-container">
</div>