<div id="delete-warning-modal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">DELETE THIS LISTING?</h3>
			</div>
			<div class="modal-body">
				<p>We can't get it back if you do!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger col-xs-5">I'm sure. Delete it!</button>
				<button type="button" class="btn btn-success col-xs-5 pull-right" data-dismiss="modal">Actually, I'll keep it.</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->