<h4 id="welcome">Welcome!</h4>

<div class="row">
	<div id="you-section" class="col-md-6 section">
		<h3 class="section-header">
			YOU
			<span id="add-item" class="add-item pull-right glyphicon glyphicon-plus"></span>
		</h3>
		<div id="you-listing" class="item-listing">
		    
		</div>
	</div>

	<div id="friend-section" class="col-md-6 section">
		<h3 class="section-header">FRIENDS</h3>
		<div id="friend-listing" class="item-listing">
			
		</div>
	</div>
</div>

<div class="row">
	<div id="featured-section" class="col-md-6 section">
		<h3 class="section-header">FEATURED</h3>
		<div id="featured-listing" class="item-listing featured-item">
			
		</div>
	</div>
	
	<div id="public-section" class="col-md-6 section">
		<h3 class="section-header">PUBLIC</h3>
		<div id="public-listing" class="item-listing">
			
		</div>
	</div>

</div>