<a class="thumbnail media search-result col-md-6">
	<img class="pull-left media-object" width="64px" height="64px" src="<%= images[0] %>">
	<div class="media-body">
		<h4 class="media-heading"><%= name %></h4>
		<div class="item-price">
			<span class="glyphicon glyphicon-usd"></span><%= user_price %> (<%= user_currency %> = <%= price %> USD)
		</div>
		<div class="item-dimensions">
			<span class="glyphicon glyphicon-resize-full"></span><%= length %> L x <%= width %> W x <%= height %> H (in mm)
		</div>
	</div>
</a>