<div class="background-panel">
	<div class="input-group">
		<input id="txt-search" type="text" class="form-control" placeholder="What do you want to buy?" />
		<a id="btn-search" class="input-group-addon btn">Find it!</a>
	</div>
</div>
<div id="search-results" style="display:none">
	<div class="row">
		<div id="search-section" class="section col-sm-12">
			<h3 class="section-header">
				SEARCH RESULTS FOR &quot;<span id="lbl-search"></span>&quot;
			</h3>
			<div id="search-listing" class="item-listing">
	            
			</div>
		</div>
	</div>
</div>