<div id="view-listing-modal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">ITEM LISTING</h3>
				
				<div class="modal-body">
					<div class="basic-info">
						<div>
							<img class="pull-left" width="64px" height="64px" src="<%= imageUrl %>">
							<div>
								<strong><%= name %></strong><br/>
								<strong>Cost: </strong><%= price %><br />
								<strong>Buyer: </strong><%= ownerName %><br />
								<strong>Buying on: </strong><%= dateExpire %><br />
								<strong>Shipping to: </strong><%= location %>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn col-xs-5 pull-right" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->