<div id="view-listing-modal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">ITEM LISTING</h3>
				
				<div class="modal-body">
					<div class="basic-info">
						<div>
							<img class="pull-left" width="64px" height="64px" src="<%= imageUrl %>">
							<div>
								<strong><%= name %></strong><br/>
								<strong>Cost: </strong><%= price %><br />
								<strong>Buyer: </strong><%= ownerName %><br />
								<strong>Buying on: </strong><%= dateExpire %><br />
								<strong>Shipping to: </strong><%= location %>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
<% if (!userId) { var userId = FB.getUserID(); } %>
<% if (owner === userId) { %>
					<button type="button" class="btn btn-danger col-xs-3 item-modal-delete">Delete this.</button>
					<button type="button" class="btn btn-primary col-xs-3 item-modal-share">Share this.</button>
					<button type="button" class="btn btn-success col-xs-4 pull-right item-modal-close" data-dismiss="modal">Head back.</button>
<% } else { %>
					<% if (owner !== userId && (buyers.indexOf(userId) === -1)) { %>
						<button type="button" id="btn-pledge" class="btn btn-success col-xs-3 item-modal-want">I&#39;m in!</button>
					<% } else if (buyers.indexOf(userId) !== -1) { %>
						<button type="button" id="btn-unpledge" class="btn btn-warning col-xs-3 item-modal-dontwant">I want out.</button>
					<% } %>
					<button type="button" class="btn btn-primary col-xs-3 item-modal-share">Share this.</button>
					<button type="button" class="btn btn-danger col-xs-4 pull-right item-modal-close" data-dismiss="modal">Never mind.</button>
<% } %>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->